In [138]:
%run ./db_connection.ipynb

In [139]:
   
flight_locations_2019 = """
   SELECT 
    origin_city_name, dest_city_name,
    origin_airport_id, dest_airport_id
   FROM flights
   WHERE date_part('year', TO_DATE(fl_date,'YYYY-MM-DD')) = 2019
"""
    
flight_locations_2019 = execute_read_query(con, flight_locations_2019)

In [140]:
cities_origin = flight_locations_2019[['origin_city_name','origin_airport_id']]
cities_dest = flight_locations_2019[['dest_city_name','dest_airport_id']]
cities_origin.rename(columns = {'origin_city_name':'city_state', 'origin_airport_id':'airport_id'}, inplace = True)
cities_dest.rename(columns = {'dest_city_name':'city_state', 'dest_airport_id':'airport_id'}, inplace = True)
airport_cities = cities_origin
airport_cities = airport_cities.append(cities_dest, ignore_index=True)

# Use only unique pairs of aiport id and city_state
airport_cities = airport_cities.drop_duplicates()

airport_cities['state'] = airport_cities.apply(
    lambda x: (x['city_state'].split(",")[1].strip()), axis=1)   
airport_cities['city'] = airport_cities.apply(
    lambda x: (x['city_state'].split(",")[0].strip()), axis=1)
airport_cities.head()

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                     city_state  airport_id state                      city
0  Saginaw/Bay City/Midland, MI       13184    MI  Saginaw/Bay City/Midland
1                  New York, NY       12953    NY                  New York
2                  Portland, ME       14321    ME                  Portland
3               Springfield, MO       14783    MO               Springfield
5              Philadelphia, PA       14100    PA              Philadelphia

In [143]:
airport_states_map = airport_cities.drop(columns=['city_state', 'city'])
airport_states_map.head()

   airport_id state
0       13184    MI
1       12953    NY
2       14321    ME
3       14783    MO
5       14100    PA

In [144]:
import pickle
outfile = open('./reference/airport_state_mapping','wb')

pickle.dump(airport_states_map,outfile)
outfile.close()