In [15]:
%run ./db_connection.ipynb

In [16]:
fuel_data_2019 = """
   SELECT 
    unique_carrier, airline_id, carrier_group_new,
    sdomt_gallons, satl_gallons, spac_gallons, slat_gallons,
    sint_gallons, ts_gallons, tdomt_gallons, tint_gallons,
    total_gallons, sdomt_cost, satl_cost, spac_cost, slat_cost,
    sint_cost, ts_cost, tdomt_cost, tint_cost, total_cost,
    year,month
   FROM fuel_comsumption
   WHERE year = 2019
"""
fuel_2019 = execute_read_query(con, fuel_data_2019)

In [17]:
fuel_2019.size

10534

### Save the Dataframe

In [18]:
import pickle

filename = 'fuel_2019'
outfile = open(filename,'wb')

pickle.dump(fuel_2019,outfile)
outfile.close()

## Check the column data types

In [6]:
fuel_2019.dtypes

unique_carrier        object
airline_id           float64
carrier_group_new      int64
sdomt_gallons        float64
satl_gallons         float64
spac_gallons         float64
slat_gallons         float64
sint_gallons         float64
ts_gallons           float64
tdomt_gallons        float64
tint_gallons         float64
total_gallons        float64
sdomt_cost           float64
satl_cost            float64
spac_cost            float64
slat_cost            float64
sint_cost            float64
ts_cost              float64
tdomt_cost           float64
tint_cost            float64
total_cost           float64
year                   int64
month                  int64
dtype: object

### Encode the String columns
- unique carrier

In [19]:
# Must install category encoders to use this code block
# - pip install category_encoders
import category_encoders as ce
from sklearn.pipeline import Pipeline

encoding_pipeline = Pipeline([
  ('encode_unique_carrier', ce.OneHotEncoder(cols=['unique_carrier'], return_df=True)),
    # can add more columns
  # ('encode_purpose', ce.TargetEncoder(cols=['purpose'], return_df=True))
])

# Get the encoded training set:
fuel_encoded = encoding_pipeline.fit_transform(fuel_2019)

# Get the encoded test set, not no target passed!
#df_test_encoded = encoding_pipeline.transform(df_test)

In [21]:
fuel_encoded.dtypes.head(10)

unique_carrier_1     int64
unique_carrier_2     int64
unique_carrier_3     int64
unique_carrier_4     int64
unique_carrier_5     int64
unique_carrier_6     int64
unique_carrier_7     int64
unique_carrier_8     int64
unique_carrier_9     int64
unique_carrier_10    int64
dtype: object

## Check for Null values

In [10]:
fuel_encoded[fuel_encoded.isna().any(axis=1)].T

                           41
unique_carrier           42.0
airline_id            20422.0
carrier_group_new         2.0
sdomt_gallons       3603825.0
satl_gallons              0.0
spac_gallons              0.0
slat_gallons        1228302.0
sint_gallons        1228302.0
ts_gallons          4832127.0
tdomt_gallons       4116225.0
tint_gallons        1344257.0
total_gallons             NaN
sdomt_cost          7127230.0
satl_cost                 0.0
spac_cost                 0.0
slat_cost           2630245.0
sint_cost           2630245.0
ts_cost             9757475.0
tdomt_cost          9034510.0
tint_cost           2861737.0
total_cost         11896247.0
year                   2019.0
month                     1.0

### Conclusion: 
total_gallons has a null value